.authors {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.authors-item {
    padding: 5px 10px;
    margin-bottom: 20px;
    width: 49%;
    display: flex;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.authors-item img {
    width: 120px;
    height: 105px;
    border-radius: 5px;
    margin-right: 50px;
    object-fit: cover;
}

.authors-item .name {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}

.authors-item .self {
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.authors-item .posts {
    font-size: 12px;
    font-weight: 700;
}

.authors-item div {
    text-align: left;
}